build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.gradle/
android/.gradle/
android/local.properties
android/app/debug.keystore
*.jks

# Large video files
assets/videos/*.mp4
build/web/videos/*.mp4
