<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQqh_sxOX06nrREkGJHWyKYmdsdW9ohgE</string>
	<key>GCM_SENDER_ID</key>
	<string>449105964214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.santeoconnect.app</string>
	<key>PROJECT_ID</key>
	<string>santeo-connect</string>
	<key>STORAGE_BUCKET</key>
	<string>santeo-connect.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449105964214:ios:f1db981600fb4c7e59ca17</string>
</dict>
</plist>